.logo-heading {
    font-family: "iCielBCCubano";
    font-size: 40px;
    color: #FFB800;
}

.logo-description {
    font-family: "Jost";
    color: gray;
}

.login-page-title {
    font-family: "Jost";
    font-size: 30px;
    text-align: center;
}

.login-btn,
.send-email-btn,
.verify-otp-btn,
.submit-password-btn {
    font-family: "Jost";
    margin-left: 20px;
    width: 100%;
}

.user-icon,
.password-icon {
    font-size: 20px;
}

.eye-icon {
    color: #FFB800;
    position: absolute;
    bottom: 12px;
    right: 2%;
}

.username-input,
.password-input,
.email-input,
.otp-input {
    font-family:  "Jost";
    width: 100%;
}

.error-input {
    font-family: "Jost";
    color: #FFB800;
}

.recaptcha-wrapper {
    font-family: "Jost";
    margin-left: 20px;
}

.recaptcha {
    font-family: "Jost";
    background-color: transparent;
}

.forget_password_link {
    text-decoration: underline;
    color: #000000;
}

.close-btn {
    background-color: transparent;
    color: #856404;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 16%;
    left: 94%;
}

.close-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.close-btn:focus {
    outline: none;
    border: none;
}

.err-wrapper {
    margin-left: 20px;
    margin-right: 48px;
    position: relative;
}

.forgot-password-label {
    font-family: "Jost";
    color: #000000;
    font-weight: 600;
}

.back-link-wrapper {
    margin-top: 100px;
}

.back-link,
.resend-otp-link-active {
    font-family: "Jost";
    color: #000000;
    text-decoration: underline;
}

.resend-otp-link-active {
    font-size: 15px;
}

.resend-otp-link-active span:hover {
    cursor: pointer;
    color: #0056b3 !important;
}

.resend-otp-link-disabled {
    font-family: "Jost";
    color: #DFE3E8;
    text-decoration: underline;
}

.time-remaining {
    font-family: "Jost";
    font-size: 15px;
    color: #000000;
}

.time-counter {
    color: red;
}

.change-password-wrapper {
    font-family: "Jost";
}

.change-password-input {
    width: 50%;
}

.change-password-submit-btn {
    width: 100px;
    background-color: #000000;
    color: #FFFFFF;
}

.change-password-submit-btn:hover {
    opacity: 0.7;
}

.change-password-reset-btn {
    width: 100px;
    background-color: #FFFFFF;
    border-color: #000000;
}

.change-password-reset-btn:hover {
    opacity: 0.5;
}

.main-small-description {
    font-family: "Jost";
    font-size: 15px;
    color: gray;
}

.modal-message {
    font-family: "Jost";
    font-size: 15px;
}

.unseen-notification-bg {
    background-color: #d5dcde;
}

.unseen-notification-bg:hover {
    background-color: #adb5b8;
    cursor: pointer;
}

.notification-title {
    color: #1d508f !important;
}

.notification-wrapper {
    overflow-y: scroll;
    max-height: 400px;
}